* text=auto

*.lua text
*.c text
*.cpp text
*.h text
*.hpp text
*.sh text
*.cmd text
*.md text
*.txt text
*.toml text
*.json text
*.conf text

*.ttf binary
*.jpg binary
*.png binary
*.wav binary
*.wave binary
