# nvim
nvim/lazy-lock.json

# Vim
vim/.netrwhist
vim/plugged

# dwm stuff
*.o
*.diff
*.orig
config.h
blocks.h
dwm/dwm
dwm/dwmblocks/dwmblocks

# Emacs stuff
emacs/custom.el
emacs/server/
emacs/url/
emacs/.local/
emacs/straight/
emacs/eshell/
emacs/elpa/
emacs/eln-cache/
emacs/org-persist/
emacs/.cask/
emacs/projectile-bookmarks.eld
emacs/transient/
emacs/var/
emacs/projects
emacs/.last-package-update-day
emacs/tramp
.yas-compiled-snippets.el
*.elc
*\#
*~