# ncspot
ncspot/userstate.cbor

*\#
/.ruff_cache

# dwm stuff
*.o
*.diff
*.orig
config.h
blocks.h
dwm/dwm-6.2/dwm
dwm/dwm-6.2/dwm.png

# Emacs stuff
emacs/.local/
emacs/custom.el
emacs/straight/
emacs/eshell/
emacs/elpa/
emacs/.cask/
emacs/projectile-bookmarks.eld
emacs/transient/
emacs/var/
emacs/.last-package-update-day
.yas-compiled-snippets.el
