aseprite
base
base-devel
bat
biber
bluez
bluez-utils
clang
dhcpcd
dmenu
dnsmasq
efibootmgr
escrotum-git
feh
firefox
gdb
git
github-cli
grub
intel-ucode
iwd
libxft
libxinerama
linux
linux-firmware
linux-headers
lld
luajit
ly
man-db
man-pages
mold
neovim
networkmanager
nnn
p7zip
pamixer
paru
paru-debug
pipewire
pipewire-alsa
pipewire-pulse
redshift
ripgrep
slock
stylua
terminus-font
texlive-basic
texlive-bibtexextra
texlive-binextra
texlive-fontsextra
texlive-langjapanese
texlive-langportuguese
texlive-latex
texlive-latexextra
texlive-latexrecommended
texlive-mathscience
texlive-plaingeneric
tmux
vim
vulkan-headers
vulkan-intel
vulkan-tools
vulkan-validation-layers
wezterm
wget
wireless_tools
wireplumber
xclip
xf86-video-amdgpu
xf86-video-vesa
xorg-bdftopcf
xorg-docs
xorg-font-util
xorg-fonts-100dpi
xorg-fonts-75dpi
xorg-fonts-encodings
xorg-iceauth
xorg-mkfontscale
xorg-server
xorg-server-common
xorg-server-devel
xorg-server-xephyr
xorg-server-xnest
xorg-server-xvfb
xorg-sessreg
xorg-setxkbmap
xorg-smproxy
xorg-x11perf
xorg-xauth
xorg-xbacklight
xorg-xcmsdb
xorg-xcursorgen
xorg-xdpyinfo
xorg-xdriinfo
xorg-xev
xorg-xgamma
xorg-xhost
xorg-xinput
xorg-xkbcomp
xorg-xkbevd
xorg-xkbutils
xorg-xkill
xorg-xlsatoms
xorg-xlsclients
xorg-xmodmap
xorg-xpr
xorg-xrandr
xorg-xrdb
xorg-xrefresh
xorg-xset
xorg-xsetroot
xorg-xvinfo
xorg-xwayland
xorg-xwd
xorg-xwininfo
xorg-xwud
zathura
zathura-pdf-mupdf
zoxide
zsh
zsh-syntax-highlighting
