base
base-devel
bat
bluez
bluez-utils
chromium
clang
dhcpcd
dmenu
dnsmasq
efibootmgr
feh
gdb
git
grub
intel-ucode
iwd
libxft
libxinerama
linux
linux-firmware
linux-headers
luajit
ly
man-db
man-pages
neovim
networkmanager
p7zip
pamixer
paru
paru-debug
pipewire
pipewire-alsa
pipewire-pulse
ripgrep
slock
terminus-font
tmux
vim
vulkan-headers
vulkan-intel
vulkan-tools
vulkan-validation-layers
wezterm
wget
wireless_tools
wireplumber
xf86-video-amdgpu
xf86-video-vesa
xorg-bdftopcf
xorg-docs
xorg-font-util
xorg-fonts-100dpi
xorg-fonts-75dpi
xorg-fonts-encodings
xorg-iceauth
xorg-mkfontscale
xorg-server
xorg-server-common
xorg-server-devel
xorg-server-xephyr
xorg-server-xnest
xorg-server-xvfb
xorg-sessreg
xorg-setxkbmap
xorg-smproxy
xorg-x11perf
xorg-xauth
xorg-xbacklight
xorg-xcmsdb
xorg-xcursorgen
xorg-xdpyinfo
xorg-xdriinfo
xorg-xev
xorg-xgamma
xorg-xhost
xorg-xinput
xorg-xkbcomp
xorg-xkbevd
xorg-xkbutils
xorg-xkill
xorg-xlsatoms
xorg-xlsclients
xorg-xmodmap
xorg-xpr
xorg-xrandr
xorg-xrdb
xorg-xrefresh
xorg-xset
xorg-xsetroot
xorg-xvinfo
xorg-xwayland
xorg-xwd
xorg-xwininfo
xorg-xwud
zathura
zoxide
zsh
zsh-autosuggestions
zsh-syntax-highlighting
