#!/bin/bash
picom -b &

# HDMI support
xrandr --output eDP-1 --auto --right-of HDMI-1 &

# dwm bar
dwmblocks &

# Wallpaper
feh --bg-fill --no-fehbg ~/Pictures/waves-lines-abstract.jpg &

# Keyboard layout
setxkbmap us -option ctrl:nocaps &

# Keyboard rate and frequency
xset r rate 500 60 &

# screen filter
redshift -P -O 2800 &

# Locking (for timer, just insert something like `-time 10`)
xautolock -locker slock &
xidlehook --not-when-fullscreen --not-when-audio --timer 600 slock '' &

emacs --daemon &
